version: '3.5'
services:

  sshagent:
    image: docksal/ssh-agent:$SSH_AGENT_TAG
    container_name: pontsun_sshagent
    restart: unless-stopped
    volumes:
      - socket_dir:/.ssh-agent

volumes:
  socket_dir:
    name: pontsun_sshagent_socket_dir
