[ req ]
req_extensions = v3_req
distinguished_name = req_distinguished_name

[ req_distinguished_name ]

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = ${ENV::PROJECT_NAME}.${ENV::PROJECT_EXTENSION}
DNS.2 = *.${ENV::PROJECT_NAME}.${ENV::PROJECT_EXTENSION}
